        /* Navbar Styles */
        .fixed-nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #333;
            color: white;
            padding: 1rem;
            text-align: center;
            z-index: 1000;
          }
        
.navbar-custom {
    background-color: #212529;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar-custom.scrolled {
    background-color: #333333;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(0, 234, 78) !important;
}
.nav-link {
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.5rem;
    transition: color 0.3s, transform 0.3s ;
}
.nav-link:hover {
    color: #c89b14;
    transform: scale(1.1);
}
.navbar-toggler {
    border: 2px solid #ffc107;
    border-radius: 5px;
    background-color: #212529;
    color: #1d28c5;
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    position: absolute;
    right: 15px;
}
.navbar-toggler:hover {
    background-color: #ffe600;
    color: #212529;
    border-color: #0dd117;
}
.navbar-toggler.open {
    transform: rotate(90deg);
    background-color: #f9f9f95e;
    color: #212529;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 30 30%22%3E%3Cpath stroke%3D%22rgba(255%2C 193%2C 7%2C 1)%22 stroke-width%3D%222%22 stroke-linecap%3D%22round%22 stroke-miterlimit%3D%2210%22 d%3D%22M4 7h22M4 15h22M4 23h22%22/%3E%3C/svg%3E');
}
.navbar {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #212529;
}
.navbar.scrolled {
    background-color: #333333 !important;
}

.navbar-nav {
    justify-content: flex-end;
    width: 100%;
}
.nav-link.active {
    margin-right: auto;
    margin-left: auto;
    background-color: #ffc107;
    color: #111519 !important;
    border-radius: 5px;
    padding: 0.3rem 0.8rem;
}
.nav-item {
    position: relative;
}
.nav-item::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #ffc107;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}
.nav-item:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #ffc107;
    transition: width 0.3s;
    transform: translateX(-50%);
}
@media (max-width: 991px) {
    .nav-link {
        font-size: 1rem;
    }
    .navbar-toggler {
        display: flex;
        justify-content: center;
        align-items: center;
        right: 15px;
    }
}